In [1]:
def calculate_area(lenght, width):
    area = lenght * width
    return area
print(calculate_area(2,4))

8

In [2]:
marka = 'Audi'
model = 'Q3 Sportback'
cena = 125000
print('marka:', marka, '/', 'model:', model, '/', 'cena:', cena)
print(marka, model,':', cena)

marka: Audi / model: Q3 Sportback / cena: 125000
Audi Q3 Sportback : 125000

In [3]:
nowe_zdanie = f"{marka, model} kosztuje {cena}"
print(nowe_zdanie)

('Audi', 'Q3 Sportback') kosztuje 125000

In [4]:
def calculate_sum(a, b):
    sum = a + b
    return sum
print(calculate_sum(4, 3))

7

In [5]:
pada = False
nie_pada = True

print(pada)
print(nie_pada)

False
True

In [7]:
pada = True
if pada:
    print('weź parasol')
else:
    print('jest ładnie, nie bierz parasola')

jest ładnie, nie bierz parasola

In [14]:
jutro_mam_wolne = True
jutro_pracuje_w_domu = True

odpoczne = not jutro_mam_wolne and jutro_pracuje_w_domu
print(odpoczne)

False