In [1]:
import json
import pandas as pd

# Pracujemy z formatem JSON w Pythonie

## Jak czytać plik JSON?

In [2]:
with open("simple.json", "w") as f:
    f.write("""
[
    {
        "name": "John",
        "age": 30,
        "cars": 0
    },
    {
        "name": "Jane",
        "age": 25,
        "cars": 1
    }
]
""")

In [3]:
with open("simple.json", "r") as f:
    data = json.loads(f.read())

data[0]["name"]

'John'

## Jak zapisać dane do pliku JSON?

In [4]:
data = [
    {
        "client": "biedronka",
        "cena": 10,
        "ilosc": 100,
        "data": "2020-01-01"
    },
    {
        "client": "lidl",
        "cena": 20,
        "ilosc": 200,
        "data": "2020-01-02"
    }
]

with open("clients.json", "w") as f:
    f.write(json.dumps(data, indent=4))

In [12]:
data = [

    {
        "marka": "AUDI",
        "model": "Q3",
        "cena": 218000
    },
    {
        "marka": "TOYOTA",
        "model": "C_HR",
        "cena": 120800
    }
]

with open('samochody.json', 'w') as f:
    f.write(json.dumps(data, indent=4))

In [13]:
df2 = pd.read_json("samochody.json")
df2

    marka model    cena
0    AUDI    Q3  218000
1  TOYOTA  C_HR  120800