In [ ]:
# Nowy Notebook
import pandas as pd

In [24]:
# Wczytujemy CSV
df = pd.read_csv("/Users/arek/Desktop/SQL dane/query_result_2025-08-07T19_11_25.532177923Z.csv")
df

      ID                   Created At  User ID  Amount
0     75         May 5, 2025, 1:48 AM      120  151.96
1     76       June 21, 2025, 4:43 AM      129   67.78
2     77     April 18, 2025, 11:47 PM        2   52.47
3     78   February 4, 2024, 10:25 AM       61  176.38
4     79        June 6, 2025, 4:00 AM      148  179.29
..   ...                          ...      ...     ...
646  647        May 19, 2025, 6:49 PM       81   76.61
647  648   February 16, 2024, 1:00 AM        3  257.19
648  649  September 19, 2024, 5:19 PM       78  521.75
649  650   October 17, 2024, 11:05 AM       22   80.58
650  651       June 25, 2025, 3:46 PM      110   183.1

[651 rows x 4 columns]

## Alternatywne rozwiązania

Jeśli nie chcesz używać pierwszej kolumny jako indeksu, możesz:

In [ ]:
# Opcja 1: Użyj index_col=0 i potem reset_index(drop=True) jeśli nie chcesz tego indeksu
# df = pd.read_csv("plik.csv", index_col=0).reset_index(drop=True)

# Opcja 2: Jeśli wiesz, że pierwsza kolumna to indeks, możesz ją pominąć
# df = pd.read_csv("plik.csv", index_col=0)

# Opcja 3: Jeśli chcesz całkowicie usunąć kolumnę "Unnamed: 0" po wczytaniu
# df = pd.read_csv("plik.csv")
# if 'Unnamed: 0' in df.columns:
#     df = df.drop(columns=['Unnamed: 0'])

In [23]:
# Sprawdźmy finalne kolumny
print("Kolumny w DataFrame:", df.columns.tolist())
df

Kolumny w DataFrame: ['Created At', 'User ID', 'Amount']

                      Created At  User ID  Amount
ID
75          May 5, 2025, 1:48 AM      120  151.96
76        June 21, 2025, 4:43 AM      129   67.78
77      April 18, 2025, 11:47 PM        2   52.47
78    February 4, 2024, 10:25 AM       61  176.38
79         June 6, 2025, 4:00 AM      148  179.29
..                           ...      ...     ...
647        May 19, 2025, 6:49 PM       81   76.61
648   February 16, 2024, 1:00 AM        3  257.19
649  September 19, 2024, 5:19 PM       78  521.75
650   October 17, 2024, 11:05 AM       22   80.58
651       June 25, 2025, 3:46 PM      110   183.1

[651 rows x 3 columns]

In [22]:
if 'ID' in df.columns:
    df = df.set_index('ID')
    print("✓ Ustawiono kolumnę 'ID' jako indeks DataFrame")

✓ Ustawiono kolumnę 'ID' jako indeks DataFrame

In [ ]:
# Opcjonalnie: Jeśli chcesz ukryć domyślny indeks (0, 1, 2...) w wyświetlaniu:
# df.style.hide_index()

## Uwaga

W pandas każdy DataFrame ma indeks (domyślnie 0, 1, 2...). 
Nie da się go całkowicie usunąć, ale można go ukryć w wyświetlaniu używając `.style.hide_index()`.

Jeśli chcesz zobaczyć DataFrame z kolumną ID jako normalną kolumną (wszystkie nagłówki na tym samym poziomie), 
po prostu wyświetl `df` - domyślny indeks będzie widoczny, ale to standardowe zachowanie pandas.

## Zapis na GitHub

Aby dodać ten notebook i plik wynikowy na GitHub:

### Krok 1: Dodaj wyjątek w `.gitignore` dla pliku CSV

Otwórz plik `.gitignore` w głównym katalogu projektu i dodaj wyjątek:
```bash
# Na końcu pliku .gitignore dodaj (zamień NAZWA_PLIKU na rzeczywistą nazwę):
!modul_5/NAZWA_PLIKU.csv
```

### Krok 2: Dodaj pliki do Git

```bash
cd /Users/arek/Desktop/od_zera_do_ai
git add modul_5/nowy_notebook.ipynb
git add modul_5/NAZWA_PLIKU.csv  # zamień na nazwę Twojego pliku
git add .gitignore
```

### Krok 3: Zatwierdź zmiany (commit)

```bash
git commit -m "Dodano notebook nowy_notebook.ipynb i plik wynikowy"
```

### Krok 4: Wyślij na GitHub

```bash
git push origin main
```

**Uwaga:** Pliki CSV są domyślnie ignorowane w `.gitignore`, dlatego musisz dodać wyjątek (!) przed dodaniem pliku do git.

In [ ]:
# Opcjonalnie: Jeśli chcesz zapisać przetworzony DataFrame do pliku CSV:
# df.to_csv('wynik_analiza_danych.csv', index=False)
# print("✓ Zapisano plik: wynik_analiza_danych.csv")