In [50]:
from pathlib import Path

In [51]:
path = Path('data.txt')
print(path.stem)

data

In [52]:
import pandas as pd

In [53]:
df = pd.read_csv('lepszy1.csv')
df

         marka  model    cena         rata
0         Audi     Q3  185000  3669.166667
1       Toyota   C-HR  125000  2479.166667
2         Ford   Puma  119000  2360.166667
3        Skoda  Kamiq  113000  2241.166667
4      Hiunday   Kona  121000  2399.833333

In [54]:
path = Path('lepszy1.csv')
print(path.is_file())

True

In [55]:
print(path.stem)

lepszy1

In [56]:
df1 = pd.read_json('moj.json')
df1

    marka         model                                             wersje
0    Audi  Q3 Sportback  {'Active': 120800, 'Executive': 140400, 'S': 1...
1  TOYOTA          C-HR  {'Comfort': 120800, 'Style': 140400, 'GR Sport...

In [57]:
import json
with open('moj.json', 'r') as f:
    data = json.loads(f.read())
    print(data)

[{'marka': 'Audi', 'model': 'Q3 Sportback', 'wersje': {'Active': 120800, 'Executive': 140400, 'S': 199000}}, {'marka': 'TOYOTA', 'model': 'C-HR', 'wersje': {'Comfort': 120800, 'Style': 140400, 'GR Sport': 199000}}]

In [69]:
DATA_PATH = Path('Desktop')
for file_path in DATA_PATH.glob('*.csv'):
    print(file_path)

In [74]:
DATA_PATH = Path('data')

In [75]:
for file_path in DATA_PATH.glob('*.csv'):
    print(file_path)

In [94]:
DATA_PATH1 = Path("modul_5")
# DATA_PATH to zmienna typu Path, która wskazuje na katalog data, i pozwala nam wykonywać operacje na plikach
# w tym katalogu
DATA_PATH

PosixPath('modul_5')

In [100]:
for file_path1 in DATA_PATH1.glob('*.csv'):
    print(file_path1)

In [109]:
df = pd.read_csv('with_dates.csv', parse_dates=['wizyta'])
df

   imie  nazwisko  wiek data urodzenia              wizyta
0   Jan  Kowalski    25     1985-01-01 2024-01-01 12:00:00
1  Anna     Nowak    35     1954-02-26 2024-03-07 12:00:00

In [111]:
path1 = Path('moj.json')
print(path1.suffix)

.json

In [113]:
df = pd.read_json('moj.json', convert_dates = ['dates'])
df

    marka         model                                             wersje
0    Audi  Q3 Sportback  {'Active': 120800, 'Executive': 140400, 'S': 1...
1  TOYOTA          C-HR  {'Comfort': 120800, 'Style': 140400, 'GR Sport...

In [114]:
path = Path('data') / 'moj.json'

In [120]:
MOJ_PATH = Path('moj.json')
print(MOJ_PATH.exists)

<bound method Path.exists of PosixPath('moj.json')>

In [127]:
path2 = Path('data')
for file_path in path2.iterdir():
    print(file_path)

data/.DS_Store
data/processed
data/raw

In [129]:
import json

In [132]:
data = {
    'marka': 'Toyota',
    'model': 'C-HR',
    'cena': 2400000
}
with open ('moj1.json', 'w') as f:
    f.write(json.dumps(data))
    print